
.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  background-color: #edefed;
}

.body {
  min-height: 100vh;
}

.margin-top  {
  margin-top: 5.2rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}

 .before-scroll {
   background-color: transparent;
   box-shadow: none;
 }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.nav-logo {
  height: 3.1rem;
  width: fit-content;
  transition: all 0.3s;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;

  div {
    height: 3rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-left: 2rem;
    border-left: 0.125rem solid #444;
    height: 2.5rem;
  }

  span {
    color: white;
    font-weight: 300;
    background-color: red;
    padding: 0.2rem;
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.45rem 1.2rem;
  border-radius: 5rem;

  &:hover {
    background-color: #f0f3f0;
  }
}

.active-link{
  background-color: #f0f3f0;
}

.home {
  background-image: linear-gradient(to bottom right, #39b385, #9be15d);
  height: 100vh;
  padding: 13rem 6rem 0 6rem;

  h1 {
    margin: 0;
    font-size: xxx-large;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  background-color: #f5f4f4;
  padding: 2rem 8rem;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  padding: 1rem;
  border-radius:0.5rem ;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  img {
    max-width: 16rem;
    max-height:14rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.card-body {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  div {
    display: flex;
    gap: 0.05rem;
    flex-direction: row;
    align-items: center;
  }
}

.hr {
  border: none;
  margin: 1rem 0rem;
  background-color: #E5E5E5;
  height: 0.1rem;
}

.product-details {
  background-color: white;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: row;

  .image-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;

    img {
      max-width: 60%;
      height: fit-content;
      background-color: #E5E5E5;
    }
  }

  .details {
    background-color: white;
    padding: 1rem;
    width: 40%;

    .category {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .description {
      font-weight: 500;
    }
  }
}

.actions {
  display: flex;
  gap:0.5rem;
  flex-direction: column;

  .quantity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 0.2rem;
    background-color: #dee7e3;

    button {
      cursor: pointer;
      font-size: 2rem;
      padding: 0.15rem 0.5rem;
      color: #444;
      background-color: transparent;
      border: none;
    }
  }

  .quantity-card {
    button {
      font-size: 1.5rem;
    }
  }
}

.btn {
  background-color:  #5ec576;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.9rem 1.5rem;
  margin: 1rem 0rem;
  width: 100%;

  &:hover {
    background-color: #9be15d;
  }
}

.outlined {
  background-color:  transparent;
  border: 2px solid #c6c9c6;

  &:hover {
    background-color: #f0f3f0;
  }
}

.contained {
  color: #444;
  background-color: transparent;
  width: fit-content;
  border-radius: 5rem ;
  border: 2px solid #444;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-image: linear-gradient(to bottom right, #39b385, #9be15d);
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;

  button {
    width: 50%;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  &.open {
    display: flex;
  }

  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .success {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}

.cart {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .items {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      background-color: white;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding: 1rem;
      border-radius: 0.2rem;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);

      img {
        width: 15%;
        height: fit-content;
      }

      .details {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.95rem;
      }

      .remove{
        display: flex;
        align-items: end;
        justify-content: center;
        width: 15%;
      }
    }
  }

  .validate {
    width: 40%;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    background-color: white;

    .cost{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .bold {
    font-weight: bold;
  }

}

.empty-cart {
  text-align: center;
  padding: 2rem;
}

.layout {
  position: fixed;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 4rem;
    height: 4rem;
  }
}

.footer {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  font-weight: bold;
  opacity: 0.9;
}
